<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Users :D</title>
    </h:head>
    <h:body>
        <h1>Useraccount anlegen</h1>
        <h2>Schritt 2: Angabe weiterer Nutzerdaten</h2>
        <h:form>
            <h:outputLabel for="name" value="Benutzername: "/>
            <h:inputText id="name" value="#{createlogin.newUser.vorname}"/><br/>
            <h:outputLabel for="pwone" value="PW: "/>
            <h:inputText id="pwone" value="#{createlogin.newUser.nachname}"/><br/>
            <h:outputLabel for="pwagain" value="PW wiederholen: "/>
            <h:inputText id="pwagain" value="#{createlogin.newUser.nachname}"/><br/>
            <h:commandButton value="Sachen machen" action="#{createlogin.saveUser(createlogin.newUser)}" rendered="#{createlogin.newUser.userLogin.pw == createlogin.pwagain}"/>
        </h:form>
    </h:body>
</html>

