<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Users :D</title>
    </h:head>
    <h:body>
        <h1>Useraccount anlegen</h1>
        <h2>Schritt 1: Angabe der Nutzerdaten</h2>
        <h:form>
            <h:outputLabel for="name" value="Vorname: "/>
            <h:inputText id="name" value="#{index.newUser.vorname}"/><br/>
            <h:outputLabel for="surname" value="Nachname: "/>
            <h:inputText id="surname" value="#{index.newUser.nachname}"/><br/>
            
           <h:outputLabel for="mooooore" value="Mehr anzeigen" rendered="#{index.showUserDetails}"/>
             <h:selectBooleanCheckbox id="mooooore" value="#{index.showUserDetails}" >
                <f:ajax event="change" render="detail" />
            </h:selectBooleanCheckbox><br/>
            <h:panelGroup id="detail">
                <h:outputLabel for="phone" value="Telnr: " rendered="#{index.showUserDetails}"/>
                <h:inputText id="phone" value="#{index.newUser.userProfil.telnr}" rendered="#{index.showUserDetails}"/>
                <h:outputLabel for="strasse" value="Straße: " rendered="#{index.showUserDetails}"/>
                <h:inputText id="strasse" value="#{index.newUser.userProfil.strasse}" rendered="#{index.showUserDetails}"/>
                <h:outputLabel for="plz" value="PLZ: " rendered="#{index.showUserDetails}"/>
                <h:inputText id="plz" value="#{index.newUser.userProfil.plz}" rendered="#{index.showUserDetails}"/>
                <h:outputLabel for="town" value="Stadt: " rendered="#{index.showUserDetails}"/>
                <h:inputText id="town" value="#{index.newUser.userProfil.stadt}" rendered="#{index.showUserDetails}"/>

            </h:panelGroup>
            
            <h:commandButton value="Sachen machen" action="#{index.saveUser(index.newUser)}"/>
        </h:form>
        
        <div>
            
            <h:form> 
                <h:commandButton value="Sachen machen 2" action="createlogin"/>
            </h:form>
            
        </div>
        
    </h:body>
</html>

