<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Account Creator</title>
    </h:head>
    <h:body>
        <h:form>
            <h1>Erfolg: User Account wurde angelegt</h1>
            
            <h2>Nutzerdaten</h2>
            <h:panelGrid id="panel5" columns="2" border ="0" cellpadding="5" cellspacing="1" rendered="#{model.display}">
                <h:outputLabel value="Vorname:"/>
                <h:outputLabel value="#{model.user.vorname}"/>

                <h:outputLabel value="Nachname:" rendered="#{model.display}"/>
                <h:outputLabel value="#{model.user.nachname}"/>

                <h:outputLabel value="Telefon:" rendered="#{model.display}"/>
                <h:outputLabel value="#{model.user.profil.telefonnummer}"/>

                <h:outputLabel value="Strasse:" rendered="#{model.display}"/>
                <h:outputLabel value="#{model.user.profil.strasse}"/>

                <h:outputLabel value="PLZ:" rendered="#{model.display}"/>
                <h:outputLabel value="#{model.user.profil.PLZ}"/>

                <h:outputLabel value="Wohnort:" rendered="#{model.display}"/>
                <h:outputLabel id="submit" value="#{model.user.profil.ort}"/>
            </h:panelGrid>  
            
            <h2>Logindaten</h2>
            <h:panelGrid id="panel6" columns="2" border ="0" cellpadding="5" cellspacing="1" rendered="#{model.display}">
                <h:outputLabel value="Username:"/>
                <h:outputLabel value="#{model.user.login.username}"/>

                <h:outputLabel value="Passwort:" rendered="#{model.display}"/>
                <h:outputLabel value="#{model.user.login.password}"/>
            </h:panelGrid>  
                    
        </h:form>

    </h:body>
</html>

