<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Account Creator</title>
    </h:head>
    <h:body>
        <h:form>
            <h1>User Account anlegen</h1>
            
            <h2>Es konnte kein neuer User Account angelegt werden</h2>
            <h3>Passwort Eingabe und Wiederholung waren nicht identisch!</h3>
        </h:form>

    </h:body>
</html>

