<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Pizza4Me</title>
    </h:head>
    <h:body>
        <h1>Bestellbereich</h1>
        <h:form>
            <h:commandButton id="button" action="#{PizzaQuery.start()}" value="Pizza bestellen"></h:commandButton>
        </h:form>
        <h2>Zum ersten Mal hier?</h2>
        <h:form>
            <h:commandButton id="b2" action="#{PizzaQuery.init()}" value="Datenbank füllen"></h:commandButton>
        </h:form>
    </h:body>
</html>

