<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>Pizza4Me - Login</title>
    </h:head>
    <h:body>
        <h1>Bitte geben Sie ihre Daten ein:</h1>
        <h:form>           
            <h:panelGrid columns="2" border="0" cellpadding="5" cellspacing="1">
                <h:outputLabel id="emailtext" for="email" value="E-Mail:"/>
                <h:inputText id="email" value="#{PizzaQuery.email}"/>
                
                <h:outputLabel id="passwordtext" for="password" value="Passwort:"/>
                <h:inputText id="password" value="#{PizzaQuery.password}"/>
            </h:panelGrid>
            <h:commandButton id="button" action="#{PizzaQuery.authenticate()}" value="Anmelden"></h:commandButton>
        </h:form>
    </h:body>
</html>

