<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Pizza4Me - Bestellfehler</title>
    </h:head>
    <h:body>
        <h1>Problembericht</h1>
        <h:form>
            <h:outputLabel value="Bitte wählen Sie ein Produkt aus!"/><br/><br/>
            <h:commandButton id="button" action="order.xhtml" value="Zurück zur Bestellung"></h:commandButton>
        </h:form>
    </h:body>
</html>

